.description{
    padding-top: 0px;
    line-height: 0.3;
    font-size:20px;
}

.report{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.report div{
    line-height: 0.6;
}

.icon{
    height: 4rem;
    width:4rem;
}